@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: "Lato", sans-serif;
}

.container {
    height: 300px;
    width: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10rem auto; 
    text-align: center;
    background: linear-gradient(hsla(240, 51%, 38%, 0.5), rgba(138, 110, 110, 0.726)),
    url("../images/foto.jpg");
    background-size: cover;
    background-position: center;

}

.container > input, .container button {
    display: block;
    margin: 1rem auto;

}

.container button {
    width: 5rem;
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgb(32, 29, 29);
}

.container h3 {
    margin: 2rem;
    color: aliceblue;
    text-transform: capitalize; 
}

.container p {
    color: aliceblue;
    font-size: 1rem;
}

